/* General style */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F9F9F9;
}

p {
    font-size : 20px;
}

/* the submit button  */
.submit-button {
    background-color: #007dc1;
    color : white;
    border-radius: 0.3em;
    font-size: 1.8em;
    width: 5em;
    height: 2em;
}

.submit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}

.submit-button:active {
	position:relative;
	top:1px;
}


/* form inputs  */
input[type="text"] {
    padding: 3px;
    width: 2.8em;
    background: transparent;
    border: none;
    font-size : 20px;
    /*transition: box-shadow 0.3s, border 0.3s;
    border: solid 1px #dcdcdc; */
}


/* prediction form  */
#prediction-form, #prediction-result, #errors-box {
    text-align: center;
    padding-top: 1em;
}

.footer {
    padding-top: 1em;
}

/* Errors-box */
#errors-box {
  color: #ff0000;
}

/* Tips-box */
#tips-box {
  /*color: #ff0000;*/
  color: blue;
  font-size : 20px;
}

/* Resize image */
.bike-emoji {
  display: inline-block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}


/* Map */

#map {
    width: 100%;
    height: 350px;
    margin-top: 4em;
    /* margin-bottom: 2em; */

}



.nav-right {
    float: right;
}

